<!--
  Generated template for the ProfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profil</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)='logOut()'>
        <ion-icon name='log-out'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row class="avatar" justify-content-start>
        <ion-col col-4>
            <ng-template [ngIf]="user?.image" [ngIfElse]="noPictureData">
                <img id="profile-image" src="{{user?.image}}" />
            </ng-template>
            <ng-template #noPictureData>
                <img id="profile-image" src="https://image.flaticon.com/icons/svg/3/3711.svg">
            </ng-template>
        </ion-col>
        <ion-col col-6 offset-1>
          <h3 id="profile-name" >{{user?.firstname}} {{user?.name}}</h3>
          <button ion-button class="submit-btn" (click)='takePicture()'>Take picture</button>
          
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-item>
          <ion-col col-9>
              <h4 style="display:inline-block;">Email:</h4>
              <p style="display:inline-block;" id="profil-email">{{user?.email}}</p> 
                <ng-container *ngIf="show">
                    <form #newEmailForm='ngForm' (submit)='updateEmail(newEmailForm)'>
                          <input ion-item type='email' placeholder='nouvel email' [(ngModel)]='emailNew'
                            name='emailNew' required #emailNewInput='ngModel' email/>
                            <p *ngIf='emailNewInput.invalid && emailNewInput.dirty'>
                                L'email entré est invalide
                              </p>
                            <button ion-button class="submit-btn" full type="submit" [disabled]='newEmailForm.invalid'>OK</button>
                      </form>
                </ng-container>
          </ion-col>
          <ion-col col-3>
              <button (click)='toggleForm()' id="modifyEmail"> Edit mail</button>
          </ion-col>
      </ion-item>     
    </ion-row>
    <ion-row>
      <ion-item>
          <ion-col col-12>
              <h4 style="display:inline-block;">Mot de passe:</h4>
              <p style="display:inline-block;" id="profil-mdp">********</p>  
          </ion-col>
      </ion-item>
    </ion-row>
    
    <button ion-button class="submit-btn" full (click)='voirCommandes()'>Voir toutes les commandes</button>
    <button (click)='toggleConfirmDelete()'  id="deleteUser" ion-item> Supprimer mon compte AcaiGo</button>
    <ng-container *ngIf="deleteUser">
        <button ion-button class="submit-btn" (click)="deleteUserAccount()">Oui, supprimer mon compte</button>
    </ng-container>
  </ion-grid>
    

  <ion-footer>
  </ion-footer>
</ion-content>
