page-produits-liste {

  button.ajouter {
    background-color: #662483;
    color: white;
  }

  button.ajouter:hover {
    background-color: white;
    color: white;
  }

  button.customiser {
    background-color: white;
    color: #662483;
    border: 1px solid #662483;
  }

  button.customiser:hover {
    background-color: #662483 ;
    color: white;
  }

  button.details {
    background-color: white;
    color: #662483;
    border: none;

  }
}
